body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(-150deg, #0bbbe2, #9b30ff, #c503d6);
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  font-family: "Segoe UI", sans-serif;
}

.modal {
  width: 480px;
  background: rgba(221, 221, 221, 0.966);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 25px;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.2);
  position: relative;
  opacity: 0.8;
}

.modal h2 {
  margin-bottom: 5px;
}

.modal p {
  color: #666;
  font-size: 14px;
  margin-bottom: 20px;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
  color: #555;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  outline: none;
  font-size: 14px;
}

textarea {
  resize: none;
  height: 90px;
}

.priority {
  display: flex;
  gap: 10px;
  margin-top: 8px;
}

.priority button {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background: #f9f9f9;
  cursor: pointer;
  transition: 0.3s;
}

.priority button.active {
  background: #e0ecff;
  border-color: #4a90e2;
  color: #4a90e2;
  font-weight: bold;
}

.actions {
  margin-top: 25px;
}

.actions button {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background: linear-gradient(45deg, #0bbbe2, #7f30ff, #c503d6);
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.actions button:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}
